body {
	padding-top: 50px;
/*background-color: #edeeef*/
	font-family: 'Quattrocento', serif;

}

p, li{
	font-size: 18px;
}
a{cursor:pointer;}

h2
{
	color: #edeeef;
	font-family: 'Oswald', sans-serif;
}
nav ul li{text-align:center;}
nav ul li:first{text-align: left;}
footer
{
	background-color: #483474;
	text-align:center;
	color: #edeeef;
}

.css_dropdown_menu_navbar li a:hover{
		background-color: #16675e;
		color: #edeeef;
}

 .css_everything h2{
	 color: #483474;
 }

 .css_everything_headings{
	 color: #483474;
 }

.css_tab{
	background-color: white;//#edeeef;
	padding: 10px;
	margin-bottom: 10px;
}

.css_tab_ul_li li{
	font-family: 'Quattrocento', serif;
	margin-top: 10px;
}

.css_navbar
{
	background-color: #16675e;
	font-family: 'Oswald', sans-serif;
	font-size: 0.85vw;
	//font-weight: bold;
}

/*rewriting bootstrap */
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus, .nav>li>a:hover{
	background-color: #483474;
}

/* */

.css_navbar a{color: white;}
/*.css_navbar a:hover{color:black;}*/
.css_navbar li a:hover{background-color: #483474;}

.css_nav_tabs li
{
	color: white;
	//border: 1px solid white;
}

.css_nav_tabs li a
{
	color: white;

}

.css_nav_tabs li a:hover, .css_nav_tabs li.dropdown a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
	background-color: white;
	color: #483474;
	cursor: pointer;
}

.css_nav_tabs ul.css_dropdown_menu_section li a
{
		color: #483474;
}

.css_nav_tabs ul.css_dropdown_menu_section li a:hover
{
		background-color: #483474;
		color: white;
}


.css_jumbotron
{
	background-color: white;
}

.css_menu_button{
	background-color: #483474;
	color: white;
}

.css_menu_button:hover{
	background-color: white;
	color: #16675e;
}

.css_menu_button:focus{
	background-color: #483474;
	color: white;
}

.css_main_container{
	background-color: #483474;

}

.css_tabcontent{
	//margin-top: -10px;
	border-radius: 10px;
}
.css_well{
	background-color:  white;
	border-color:  white;
}

@media screen and (min-width:776px) and (max-width: 1000px) {
	#main_content{
		margin-top: 55px;
	}
}

@media screen and (min-width:316px) and (max-width: 775px) {
	#main_content{
		margin-top: 150px;
	}

	.jumbotron h3:nth-of-type(odd){
		text-align: left;
		text-decoration: underline;
	}
}

@media screen and (max-width: 315px) {
	#main_content{
		margin-top: 180px;
	}
	.jumbotron h3:nth-of-type(odd){
		text-align: left;
		text-decoration: underline;
	}
}


//extend body padding top with a media
